@font-face {
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.woff') format('woff'),
         url('cac_champagne-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'geosanslight';
	src: url('GeosansLight.ttf') format('truetype');
}

@font-face{
	font-family: 'Dreamwood';
	src: url('Dreamwood.ttf') format('truetype');
}

@font-face{
	font-family: 'champagne&limousines';
	src: url('Champagne&Limousines.ttf') format('truetype');
}

@font-face{
	font-family: 'willg';
	src: url('willg.ttf') format('truetype');
}

@font-face{
	font-family: 'Tangerine', cursive;
	font-family: 'Dancing Script', cursive;
	font-family: 'Srisakdi', cursive;
	font-family: 'Indie Flower', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Merienda', cursive;
}


header {
	font-family: "geosanslight",serif;
}

#nom {
	font-family: "Merienda",serif;
	font-size: 20px;
	color: #990;
	padding-left: 5%;
	padding-bottom: 6%;
}

#nom p{
	font-family: "Tangerine",serif;
	color: black;
	font-size: 30px;
}

#info{
	font-family: "Tangerine";
	font-size: 30px;
}

#CV h1{
	font-family: "geosanslight";
	font-size: 40px;
}

#education li{
	font-family: "Open Sans Condensed";
}

#experience li{
	font-family: "Open Sans Condensed";
}

#propos{
	font-family: "Merienda";
}

#competence h1{
	font-family: "Playfair Display";
}

#competence li{
	font-family: "geosanslight";
	color: #999;
}

#citation{
	font-family: "Tangerine";
}

#contact h1{
	font-family: "geosanslight";
}

.submit-control{
	font-family: "Tangerine";
}